
src/ENCORE/data/__pycache__/

resources/

src/ENCORE/gui/__pycache__/

src/ENCORE/utils/__pycache__/

docs/build/

src/ENCORE/runners/__pycache__/

src/ENCORE/plotters/__pycache__/

src/ENCORE/validators/__pycache__/
